
#header a:hover
{
    color:white
}

#bg-img
{
    background: url('123.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 500px;
}

#about
{
    margin-top:-200px;
}

#about .fa
{
    color: white;
}
#about span
{
    padding: 10px 20px 10px 20px;
    
}
#about hr
{
    border-width: 2px;
    margin-top:06px;
}

#skills span
{
    padding: 10px 20px 10px 20px;
}

#skills hr
{
    border-width: 2px;
    margin-top:06px
}

#trainings span
{
    padding: 10px 20px 10px 20px;
}

#trainings hr
{
    border-width: 2px;
    margin-top:06px;   
}

#trainings .card
{
    border-top: 03px solid red;
}
#contact span
{
    padding: 10px 20px 10px 20px;
}

#contact hr
{
    border-width: 2px;
    margin-top:06px;   
}
